.stayfixed {
  position: fixed !important;
  top: 20px !important;
  width: 90% !important; 
  left: 50%; /* Move the left edge to the center of the page */
  transform: translateX(-50%); /* Shift the element left by half of its width */
  z-index: 1000 !important; /* make navi top-most element */
}